<html>

	<head>
		<title>Home :: Rensselaer Astrophysical Society</title>
	  <!-- Compiled and minified JavaScript -->
	  	{% load static %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>


	</head>
	<body>

		<div id="wrapper">

			<canvas class=".hide-on-small-only"></canvas>

			<div>
	        	<h1 id="title"> Rensselaer Astrophysical Society </h1>
	        	
	        	<a href="#tits" class="navlinks"   id="scroll-to-moon"> <img src="{% static 'arrow-down.png' %}" style="width:10%;height:10%;">  </a>
	        </div>

    	</div>

    	<div id="Info" class="section scrollspy">
	    	<div class="container" > 
				<div class="row" id="tits">
			    	<div class="col s12 "> 

				      	<h1  align="left" id="Events"> <u> Events </u> </h1> 
				      	
				      	<div class="col s6 offset-s4" id="PO" > 
				      	
					      	<h2> Public Observing </h2>
					      	<div id="fuck">
					      	<h5> <i class="small material-icons orange600"> room </i> <a href="https://www.google.com/maps/place/Hirsch+Observatory/@42.7284195,-73.682642,17z/data=!3m1!4b1!4m2!3m1!1s0x89de0f0a60d1f6ff:0xec97b45ef49bdd4b" >Hirsch Observatory </a> 


					      	 </h5> 

					      	 
					      	<h5> <i class="small material-icons orange600"> today </i> Every Saturday </h5>
					      	<h5> <i class="small material-icons orange600"> schedule </i> 8 - 10 pm </h5>
				      <!-- 	
					      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.833274487547!2d-73.68264198453201!3d42.728419479163875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f0a60d1f6ff%3A0xec97b45ef49bdd4b!2sHirsch+Observatory!5e0!3m2!1sen!2sus!4v1444547217209" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->


				      	</div>
				      	</div>

				      	<div class="col s6 offset-s4" id="Meeting" > 
					      	<h2> Club Meeting </h2>
					      	<div id="fuck">
					      	<h5> <i class="small material-icons orange600"> room </i> JROWL 2nd Floor Conference Room  </h5><h4>  </h4>
					      	<h5> <i class="small material-icons orange600"> today </i> {{ meeting_date }}</h5>
					      	<h5> <i class="small material-icons orange600"> schedule </i> {{ meeting_time }}</h5>
					      	</div>
				      	</div>


				    </div>
				</div>
			</div>
		</div>

		<div id="Officers" class="section scrollspy">
			<div class="container" id="OfficersTable">
				<div class="row">
					<div class="col s12">
						
						<h1  align="left" style="margin-bottom: 25px"> <u> <font color="#FFFFFF">  Club Officers </font> </u> </h1> 


						     

						<div class="col s12"> 
					        <div id="para1" class=" darken-1 z-depth-3 " > 
					        	
					            <h2 class=" z-depth-1 ">  </h2>
					          	
					          	<ul id="agents" class="collection">
									<li class="collection-item avatar">

										<table class="centered">
									        <tbody>
									          <tr>
									            <td> <b> President </b> </td>
									            <td> Nick Boni</td>
									            
									            <td>bonin@rpi.edu</td>
									          </tr>
									          <tr>
									            <td> <b> Vice President </b> </td>
									            <td>Joey McPherson</td>
									            
									            <td>mcphej4@rpi.edu </td>
									          </tr>
									          <tr>
									        <td> <b> Treasurer </b> </td>
									            <td>Jonathan Williams</td>
									                
									            <td>willij19@rpi.edu</td>
									          </tr>
									          <tr>
									            <td> <b> Secretary </b></td>
									            <td>Emily Wislowski</td>
									            
									            <td>wisloe@rpi.edu </td>
									          </tr>
									          <tr>
									            <td> <b> Webmaster </b></td>
									            <td>Dennis Fogerty</td>

									            <td> fogerd@rpi.edu </td>
									          </tr>
									        </tbody>
								    	</table>
					
									</li>
								</ul>

							</div>
			        	</div>

					</div>
				</div>
			</div>
		</div>


		<div id="About" class="section scrollspy">
			<div class="container" >
				<div class="row">
					<div class="col s12">

					<h1  align="left"> <u> About </font> </u> </h1> 

					<p id="AboutText">
						The Rensselaer Astrophysical Society (RAS) is a Rensselaer Polytechnic Institute union-funded organization that allows students to pursue their interest in astronomy. The society works in conjunction with the physics department to maintain the Hirsch Observatory atop the Jonsson-Rowland Science Center and keep it open to the public on a regular basis. Students are trained in the use of the Society's various telescopes, then placed on the observatory key list. Once on the key list, members can use the observatory at any time.
						<br><br>
						The Society holds meetings (generally every other week) to discuss current projects, to plan events such as field trips or public outreach, and discuss various topics of astronomy and astrophysics. All students and non-students are welcome to attend. 
						<br><br>
						To join RAS, or to simply be added to our mailing list, send an email to
						astro@union.rpi.edu
						<br><br>
						Please include your full name, and RIN number if applicable. Membership dues for RPI students are $5.00 per semester or $10.00 annually and can be paid at any meeting. Dues for those from outside RPI (associate members) are $7.50 per semester. 

					</p>
					
					



					</div>
				</div>
		 	</div>
		</div>

<!-- 		<div id="ClearSky">
			<div class="container" >
				<div class="row">
					<div class="col s6 offset-s3">

					<img src="http://cleardarksky.com/csk/getcsk.php?id=HrchObNY">

					</div>
				</div>
			</div>
		</div>

		<div class="col hide-on-small-only m3 l2" id="scroll">
	      <ul class="section table-of-contents" >
	        <li><a href="#Info"><font color="#d25400"> Info </font> </a></li>
	        <li><a href="#Officers"><font color="#d25400"> Officers</a> </font></li>
	        <li><a href="#About"><font color="#d25400"> About</a> </font></li>
	      </ul>
    	</div> -->


		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/scrolling.js' %}"></script>

		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.js"></script>
		<script type="text/javascript" src="{% static 'javaScript/nav.js' %}"></script>
		<script type="text/javascript" src="{% static 'javaScript/canvas.js' %}"></script>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

	</body>

</html>

